#emptyWalletIcon{
    font-size: 3.5rem
}

#searchField{
    width: 40vw
}

#navbar{
    background-color: rgba(0, 0, 0, 0.2);
}

.card:hover{
    background-color: var(--blue) !important;
    transition: 500ms;
    cursor: pointer;
}

.blue-border{
    border: 1px solid var(--blue) !important;
}

:root{
    --blue: rgb(43,146,228);
}

tbody > tr{
    cursor: pointer; 
}

#searchWallet{
    width: 150px;
    transition: 250ms width ease-out, 300ms background ease-out;

}

#searchWallet:active, #searchWallet:focus{
    width: 350px;
    background-color: #f8f9fa !important;
    transition: 250ms width ease-in, 300ms background ease-in;
}


