#emptyWalletIcon{
    font-size: 3.5rem
}

#spinnerIcon{
    font-size: 3.5rem;
    background:-moz-linear-gradient(bottom, var(--blue) 0%, rgba(43,146,228, 0) 100%); 
    background: -webkit-linear-gradient(bottom,  var(--blue) 0%, rgba(43,146,228, 0) 100%); 
    background: linear-gradient(to top,  var(--blue) 0%, rgba(43,146,228, 0) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}

#searchField{
    width: 40vw
}

#navbar{
    background-color: rgba(0, 0, 0, 0.2);
}

.card:hover{
    background-color: var(--blue) !important;
    transition: 500ms;
    cursor: pointer;
}

.blue-border{
    border: 1px solid var(--blue) !important;
}

:root{
    --blue: rgb(43,146,228);
}

tbody > tr{
    cursor: pointer; 
}

#searchWallet{
    width: 150px;
    transition: 250ms width ease-out, 300ms background ease-out;

}

#searchWallet:active, #searchWallet:focus{
    width: 350px;
    background-color: #f8f9fa !important;
    transition: 250ms width ease-in, 300ms background ease-in;
}

.rotate-center {
	-webkit-animation: rotate-center 1.5s linear infinite both;
	        animation: rotate-center 1.5s linear infinite both;
}

 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  